#about {
    padding-top: 10rem;
    height: 100vh;
}

.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--colour3), transparent);
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    height: 100%;
}

.about_me-image:hover {
    transform: rotate(0)
}

.about_content{
    background-color: var(--colour2);
    border-radius: 2rem;
    color: var(--colour4);
    padding: 2rem;
    height: max-content;
    transition: var(--transition);
}

.about_content:hover{
    scale: 1.01;
}

.about_icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    font-size: xxx-large;
    justify-content: center;
    
}

.about_icon{
    transition: var(--transition);
}
.about_icon:hover {
    animation: shake 0.5s;
    scale: 1.2;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    25% { transform: rotate(-6deg);}
    50% { transform: rotate(6deg); }
    75% {  transform: rotate(-6deg); }
    100% {  transform: rotate(6deg);}
  }



@media screen and (max-width: 1024px) {
    #about{
        padding-top: 2rem;
    }

    .about_container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .about_me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }

    .about_icons{
        margin-top: 1rem;
    }

  }
  
  @media screen and (max-width: 600px) {
    .about_me {
      width: 65%;
      margin: 0 auto 3rem;
    }
  
    .about_content{
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }
    .about_content{
        padding: 1rem;
    }
    .about_icons{
        margin-top: 1rem;
    }
  }